<h1 style="color:white;">Harry Potter</h1>
<br>
<h3 style="color: white;">Elige una casa:</h3>
<div>
<img class="casa" src="./assets/gryffindor.png" alt="Gryffindor" (click)="mostrarPersonajes('gryffindor')">
        <ul class="personajes" id="gryffindor">
        <h2 style="color: white;">Gryffindor</h2>
        <li><img src="./assets/harryPotter.jpg" alt="Harry Potter">Harry Potter</li>
        <li><img src="./assets/ronaldWeasley.jpg" alt="Ron Weasley">Ron Weasley</li>
        <li><img src="./assets/hermioneGranger.jpg" alt="Hermione Granger">Hermione Granger</li>
    </ul>
    <img class="casa" src="./assets/slytherin.png" (click)="mostrarPersonajes('slytherin')">
    <ul class="personajes" id="slytherin">
        <h2 style="color: white;">Slytherin</h2>
        <li><img src="./assets/dracoMalfoy.jpg" alt="Draco Malfoy">Draco Malfoy</li>
        <li><img src="./assets/lordVoldemort.jpg" alt="Lord Voldemort">Lord Voldemort</li>
        <li><img src="./assets/severusSnape.jpg" alt="Severus Snape">Severus Snape</li>
    </ul>
    <img class="casa" src="./assets/hufflepuff.png" alt="Hufflepuff" (click)="mostrarPersonajes('hufflepuff')">
    <ul class="personajes" id="hufflepuff">
        <h2 style="color: white;">Hufflepuff</h2>
        <li><img src="./assets/cedricDiggory.jpg" alt="Cedric Diggory">Cedric Diggory</li>
        <li><img src="./assets/NymphadoraTonks.jpg" alt="Nymphadora Tonks">Nymphadora Tonks</li>
        <li><img src="./assets/Pomona_Sprout.jpg" alt="Pomona Sprout">Pomona Sprout</li>
    </ul>
    <img class="casa" src="./assets/ravenclaw.png" alt="Ravenclaw" (click)="mostrarPersonajes('ravenclaw')">
    <ul class="personajes" id="ravenclaw">
        <h2 style="color: white;">Ravenclaw</h2>
        <li><img src="./assets/lunaLovegood.jpg" alt="Luna Lovegood">Luna Lovegood</li>
        <li><img src="./assets/Cho_Chang.jpg" alt="Cho Chang">Cho Chang</li>
        <li><img src="./assets/Filius-Flitwick.jpg" alt="Filius Flitwick">Filius Flitwick</li>
    </ul>
</div>
